.aside {
    .third-bar {
        background: url('./images/placeholder-one.png');
        @include images-props();
        height: 300px;
        background-size: cover;
        position: relative;
        border: 2px solid #cfd1d3;
        border-radius: 3px;

        .center-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #eb008b;
        }
    }
}